@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* -------- CSS RESET ---------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

$bg-img: url("./images/bg/evening.jpg");

$black-100: rgb(16, 16, 20);
$black-200: rgb(30, 30, 30);

$orange-1: #e84118;

/* BODY */
body {
  display: grid;
  width: 100vw;
  height: 100%;
  background-image: $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* NAV */
nav {
  width: 100vw;
  position: relative;
  height: 50px;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 0.1fr;
  align-items: center;
  margin-bottom: 20px;

  .navbar-first {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      width: 2.5rem;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $black-200;
      text-decoration: none;
      color: white;
      transition: color 0.4s;

      &:hover {
        color: $orange-1;
      }
    }

    .location {
      display: flex;
      gap: 8px;
      font-size: 1.2rem;
      margin-left: 4px;

      span.city {
        font-weight: 600;
      }
    }

    @media (max-width: 1000px) {
      .location {
        display: none;
      }
    }
  }

  .navbar-sec {
    position: relative;

    .search-box {
      left: 50%;
      // transform: translate(-40%, 10%);
      width: 30vw;
      background: $black-200;
      height: 50px;
      border-radius: 40px;
      padding: 10px 8px 10px 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover > .search-text {
        padding: 0 6px;
      }

      &:hover > .search-btn {
        background: white;
        color: black;
      }

      .search-btn {
        color: $orange-1;
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 100%;
        background: $black-200;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;
        text-decoration: none;

        & > i {
          font-size: 20px;
        }
      }

      .search-text {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 1.2rem;
        font-weight: normal;
        transition: 0.4s;
        line-height: 40px;

        width: 20vw;
      }

      @media (max-width: 500px) {
        .search-btn {
          transform: translateX(-70%);
        }
      }
      @media (min-width: 500px) and (max-width: 600px) {
        .search-btn {
          transform: translateX(-36%);
        }
      }
      @media (min-width: 600px) and (max-width: 800px) {
        .search-btn {
          transform: translateX(-10%);
        }
      }
    }
  }

  .navbar-third {
    .profile {
      margin-right: 8px;
      width: 2.8rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-image: url("./images/vectors/profile.jpg");
    }
  }
}

main {
  margin-top: 10px;
  width: 100vw;
  height: 800px;
  // background: steelblue;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  padding: 0 25px 15px 25px;
  gap: 20px;

  .container {
    // border: 1px solid;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #days {
    h2 {
      font-size: 1.4rem;
      margin-left: 4px;
      font-family: "Oswald", sans-serif;
      margin: 6px 8px;
      font-weight: 600;
    }

    .group {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 4px;

      .item {
        width: 120px;
        height: 90%;
        border-radius: 3vw;
        cursor: pointer;
        background-position: center;
        background-size: 75vh;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        // margin: 1vw;
        color: white;
        // color: rgb(106, 65, 228);
        background: rgb(27, 27, 29);
        overflow: hidden;

        &:nth-child(1) {
          width: 250px;
          background: rgb(255, 255, 255);
          color: black;
        }

        .details {
          display: flex;
          flex-direction: column;
          padding: 20px 40px 20px 20px;
          gap: 50px;

          img {
            width: 250px;
            transform: translate(0, -20%);
          }

          .temp {
            font-size: 5vw;
          }
        }

        .head {
          width: 100%;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          padding: 16px 20px 35px 20px;
          background: rgb(21, 124, 204);
        }
      }
    }
  }

  #other-cities {
    position: relative;

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      // margin-bottom: 20px;
      font-family: "Oswald", sans-serif;

      h1 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      button {
        background: none;
        font-size: 1.2rem;
        cursor: pointer;

        i {
          font-size: 1rem;
        }
      }
    }

    .group {
      padding: 10px;
      position: absolute;
      width: 100%;
      height: 98%;
      display: grid;
      grid-template-columns: 1fr;

      .item {
        width: 100%;
        height: 100px;
        background: rgb(212, 212, 212);
        border-radius: 20px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;

        .text {
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 0.8rem;
            font-weight: 600;
          }

          h1 {
            font-size: 1.4rem;
            font-weight: 900;
          }

          h2 {
            margin-top: 6px;
            font-size: 1rem;
          }
        }

        .image {
          display: flex;
          flex-direction: column;
          font-size: 2rem;
          align-items: center;
          gap: 4px;

          img {
            width: 3rem;
          }

          .temp {
            margin-left: 10px;
          }
        }
      }
    }
  }

  #map {
    background-image: url("https://wallpaperaccess.com/full/2391514.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;

    .card {
      position: absolute;
      width: 35%;
      height: 60%;
      background: white;
      left: 40px;
      bottom: 40px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-inline: auto;
      text-align: center;
      gap: 10px;
      box-shadow: 5px 5px 5px black;

      .title {
        font-size: 1.2rem;
        font-weight: 600;
        max-width: 80%;
      }

      #location {
        width: 80%;
        height: 40%;
        background-image: url("https://www.planetware.com/photos-large/IND/india-delhi-red-fort.jpg");
        background-size: cover;
        border-radius: 20px;
        transition: 0.3s;
      }

      a {
        font-size: 1.2rem;
        width: 80%;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        border-radius: 20px;
        background: rgb(212, 212, 212);
        cursor: pointer;
        z-index: 2;
      }
    }

    .loc-points {
      position: absolute;
      width: 100%;
      height: 100%;
      // background: red;

      .point {
        position: absolute;
        width: 30px;
        aspect-ratio: 1;
        background: none;
        // border-radius: 50%;
        max-width: 30px;
        cursor: pointer;
      }

      .delhi {
        background-image: url("./images/vectors/cloudy.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 40%;
        right: 27%;
      }

      .tokyo {
        background-image: url("./images/vectors/hail.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 30%;
        right: 10%;
      }

      .london {
        background-image: url("./images/vectors/rain.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 18%;
        left: 46%;
      }

      .australia {
        background-image: url("./images/vectors/thunder.svg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 13%;
        right: 7%;
      }

      .capetown {
        background-image: url("./images/vectors/sunny.svg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 13%;
        left: 54%;
      }

      @media (max-width: 800px) {
        .delhi {
          top: 40%;
          right: 17%;
        }

        .tokyo {
          display: none;
        }

        .london {
          top: 20%;
          left: 43%;
        }

        .australia {
          bottom: 13%;
          right: 7%;
          display: none;
        }

        .capetown {
          bottom: 17%;
          left: 54%;
        }
      }
    }
  }

  #chart {
    h1 {
      font-family: "Oswald", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

canvas {
  background: white;
  padding: 0px 5px 40px 10px;
  border-radius: 20px;
  transform: translateY(10px);
}


@media (max-width: 1000px) {
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 2000px;
  }
  
  .item {
    .head {
      font-size: 0.8rem;
    }
  }

  #other-cities {
    max-height: 460px;
  }
}

@media (max-width: 1000px) {
  canvas {
    padding-bottom: 34vw;
  }
}

@media (max-width: 800px) {
  canvas {
    padding-bottom: 20vw;
  }
}
@media (max-width: 600px) {
  canvas {
    padding-bottom: 4vw;
  }
}